
@font-face {
    font-family: "worksans";
    src: url(../../assets/fonts/static/WorkSans-Regular.ttf) ;
}

@font-face {
    font-family: "worksans-b";
    src: url(../../assets/fonts/static/WorkSans-Bold.ttf) ;
}     

.wrapper{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background: url(../../assets/images/background-pattern-desktop.svg) no-repeat ;
    background-color: hsl(275, 100%, 97%);
    background-position: top;
    min-height: 95vh;
}
.card{
    background-color: white;
    width: 320px;
    min-height: 43%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 18px 1px rgba(161, 160, 160, 0.204);
    padding-bottom: 15px;
}
.card__headdiv{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-bottom: -15px;
}

.card__headtitle{
    margin-left: 25px;
}
.card__item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 20px;
    width: 100%
}

.card__questiondiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    width: 92%;
}
.card__questiontxt{
    margin-right: 50px;
    width: 100%;
    font-family: 'worksans-b';
    font-weight: 400;
    line-height: 1.3;
    color: #2F2531
}
.card__selectionicon{
    margin-right: 15px;
    cursor: pointer;
}
.card__contenttxt{
    font-size: 0.9rem;
    line-height: 1.4;
    width: 85%;
    height: auto;
    margin-bottom: 10px;
    font-family: 'worksans';
    font-weight: 400;
    color: #A599A7;
}    
.card__border{
    border: 1px solid rgba(139, 120, 139, 0.082);
    width: 86%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 1025px) {
    .wrapper{
        background-color: black;
        width: 100vw;
        height:100vh;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 95%;
        max-width: 1080px; 
        min-height: 95vh;
        height: 78%;
        background: url(../../assets/images/background-pattern-desktop.svg) no-repeat ;
        background-color: hsl(275, 100%, 97%);
        background-position: top;
    }
    .card{
        background-color: white;
        width: 490px;
        min-height: 45%;
        height: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 18px 1px rgba(161, 160, 160, 0.204);
    }
    .card__headdiv{
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-bottom: -5px;
    }
    
    .card__headtitle{
        margin-left: 25px;
    }
    .card__item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        margin-left: 10px;
        width: 100%
    }
    .card__questiondiv{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 0.8rem;
        width: 97%;
        
    }
    .card__questiontxt{
        width: 100%;
        font-family: 'worksans-b';
        font-weight: 400;
        line-height: 1.3;
        color: #3c2841;
        margin-right: 20px;
        margin-left: 25px;
    }
    .card__selectionicon{
        margin-right: 20px;
        cursor: pointer;
    }
    .card__contenttxt{
        font-size: 0.9rem;
        line-height: 1.4;
        width: 85%;
        height: auto;
        margin-bottom: 10px;
        font-family: 'worksans';
        font-weight: 400;
        color: #A599A7;
        margin-left: 25px;
    }    
    .card__border{
        display: flex;
        justify-content: center;
        border: 1px solid rgba(139, 120, 139, 0.051);
        width: 86%;
        margin: 10px 0 10px 25px
    }
}


@media (min-width: 1440px) {
    .wrapper{
        background-color: black;
        width: 100vw;
        height:100vh;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 95%;
        max-width: 1180px; 
        min-height: 95vh;
        height: 78%;
        background: url(../../assets/images/background-pattern-desktop.svg) no-repeat ;
        background-color: hsl(275, 100%, 97%);
        background-position: top;
    }
    .card{
        background-color: white;
        width: 490px;
        min-height: 44%;
        height: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 18px 1px rgba(161, 160, 160, 0.204);
    }
    .card__headdiv{
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-bottom: -5px;
    }
    .card__headtitle{
        margin-left: 25px;
        font-family: 'worksans-b';
        font-size: 2.5rem;
    }
    .card__item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        margin-left: 10px;
        width: 100%
    }
    .card__questiondiv{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 0.8rem;
        width: 97%;
        
    }
    .card__questiontxt{
        width: 100%;
        font-family: 'worksans-b';
        font-weight: 400;
        line-height: 1.3;
        color: #3c2841;
        margin-right: 20px;
        margin-left: 25px;
    }
    .card__selectionicon{
        margin-right: 20px;
        cursor: pointer;
        
    }
    .card__contenttxt{
        font-size: 0.9rem;
        line-height: 1.4;
        width: 85%;
        height: auto;
        margin-bottom: 10px;
        font-family: 'worksans';
        font-weight: 400;
        color: #A599A7;
        margin-left: 25px;
    }    
    .card__border{
        display: flex;
        justify-content: center;
        border: 1px solid rgba(139, 120, 139, 0.051);
        width: 86%;
        margin: 10px 0 10px 25px
    }
}